In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv('clean_csv_data/2021-08-08.csv', index_col=0)

In [3]:
df.head()

,2021-08-08T00:05:00+08:00,2021-08-08T00:10:00+08:00,2021-08-08T00:15:00+08:00,2021-08-08T00:20:00+08:00,2021-08-08T00:25:00+08:00,2021-08-08T00:30:00+08:00,2021-08-08T00:35:00+08:00,2021-08-08T00:40:00+08:00,2021-08-08T00:45:00+08:00,2021-08-08T00:50:00+08:00,...,2021-08-08T23:10:00+08:00,2021-08-08T23:15:00+08:00,2021-08-08T23:20:00+08:00,2021-08-08T23:25:00+08:00,2021-08-08T23:30:00+08:00,2021-08-08T23:35:00+08:00,2021-08-08T23:40:00+08:00,2021-08-08T23:45:00+08:00,2021-08-08T23:50:00+08:00,2021-08-08T23:55:00+08:00
S77,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S90,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S114,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df.describe()

,2021-08-08T00:05:00+08:00,2021-08-08T00:10:00+08:00,2021-08-08T00:15:00+08:00,2021-08-08T00:20:00+08:00,2021-08-08T00:25:00+08:00,2021-08-08T00:30:00+08:00,2021-08-08T00:35:00+08:00,2021-08-08T00:40:00+08:00,2021-08-08T00:45:00+08:00,2021-08-08T00:50:00+08:00,...,2021-08-08T23:10:00+08:00,2021-08-08T23:15:00+08:00,2021-08-08T23:20:00+08:00,2021-08-08T23:25:00+08:00,2021-08-08T23:30:00+08:00,2021-08-08T23:35:00+08:00,2021-08-08T23:40:00+08:00,2021-08-08T23:45:00+08:00,2021-08-08T23:50:00+08:00,2021-08-08T23:55:00+08:00
count,70.000000,68.0,68.0,68.0,68.0,68.0,68.0,68.0,68.0,68.0,...,69.0,69.0,69.0,69.0,69.0,69.0,68.0,69.0,69.0,69.0
mean,0.031486,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,0.116334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,0.600000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
df.columns

Index(['2021-08-08T00:05:00+08:00', '2021-08-08T00:10:00+08:00',
       '2021-08-08T00:15:00+08:00', '2021-08-08T00:20:00+08:00',
       '2021-08-08T00:25:00+08:00', '2021-08-08T00:30:00+08:00',
       '2021-08-08T00:35:00+08:00', '2021-08-08T00:40:00+08:00',
       '2021-08-08T00:45:00+08:00', '2021-08-08T00:50:00+08:00',
       ...
       '2021-08-08T23:10:00+08:00', '2021-08-08T23:15:00+08:00',
       '2021-08-08T23:20:00+08:00', '2021-08-08T23:25:00+08:00',
       '2021-08-08T23:30:00+08:00', '2021-08-08T23:35:00+08:00',
       '2021-08-08T23:40:00+08:00', '2021-08-08T23:45:00+08:00',
       '2021-08-08T23:50:00+08:00', '2021-08-08T23:55:00+08:00'],
      dtype='object', length=287)

In [6]:
df.index

Index(['S77', 'S109', 'S90', 'S114', 'S11', 'S50', 'S107', 'S215', 'S118',
       'S120', 'S33', 'S71', 'S43', 'S66', 'S112', 'S40', 'S108', 'S113',
       'S44', 'S119', 'S121', 'S35', 'S94', 'S78', 'S106', 'S81', 'S201',
       'S202', 'S203', 'S204', 'S205', 'S207', 'S208', 'S209', 'S210', 'S211',
       'S212', 'S213', 'S214', 'S216', 'S217', 'S218', 'S219', 'S220', 'S221',
       'S222', 'S223', 'S224', 'S226', 'S227', 'S228', 'S229', 'S230', 'S111',
       'S900', 'S122', 'S84', 'S79', 'S88', 'S123', 'S89', 'S115', 'S82',
       'S24', 'S69', 'S36', 'S08', 'S116', 'S104', 'S100'],
      dtype='object')

In [7]:
test_df = pd.DataFrame(index = df.index)

In [8]:
import re

time_dump = []

for tstamp in df.columns:
    t = tstamp.split('+')
    #print(t)
    tt = t[0].split('T')[-1]
    dt = t[0].split('T')[0]
    #timestamp.append(tt[-1])
    timestamp_hour = tt[:2]
    if timestamp_hour not in time_dump:
        time_dump.append(timestamp_hour)
        test_df[str(timestamp_hour)] = 0

In [9]:
test_df.columns

Index(['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23'],
      dtype='object')

In [10]:
test_df

,00,01,02,03,04,05,06,07,08,09,...,14,15,16,17,18,19,20,21,22,23
S77,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
S109,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
S90,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
S114,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
S11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
S36,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
S08,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
S116,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
S104,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
S100,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
test2_df = pd.DataFrame()

test2_df['00'] = test_df['00'] + df['2021-08-08T00:05:00+08:00']

In [12]:
test2_df

       00
S77   0.0
S109  0.0
S90   0.0
S114  0.0
S11   0.0
...   ...
S36   0.0
S08   0.0
S116  0.2
S104  0.0
S100  0.0

[70 rows x 1 columns]

In [14]:
for tstamp in df.columns:
    t = tstamp.split('+')
    #print(t)
    tt = t[0].split('T')[-1]
    #print(tt)
    dt = t[0].split('T')[0]

    for hour in test_df.columns:
        if tt[:2] == hour:
            test_df[hour] = (test_df[hour] + df[tstamp])

In [15]:
test_df

,00,01,02,03,04,05,06,07,08,09,...,14,15,16,17,18,19,20,21,22,23
S77,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.4,8.0,0.0,0.0,0.0,0.0,0.0
S109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S90,0.0,0.0,0.0,0.4,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.4,0.0,0.0,0.0,0.0,0.0
S114,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.4,0.4,0.0,0.4,0.0,0.0,0.0,0.0,0.0
S11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
S36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.4,0.0,0.0,0.0,0.0,0.0
S116,0.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.2,0.8,0.0,0.0,0.0,0.0,0.0,0.0
S104,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.8,0.0,0.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
date = df.columns[0].split('T')[0]
date

'2021-08-08'

In [17]:
fin_col_name = []

for col in test_df.columns:
    fin_col_name.append('Hour' + col)

#print(fin_col_name)

In [20]:
test_df.columns = fin_col_name
test_df.index.name = 'weather_station'

In [21]:
test_df

,Hour00,Hour01,Hour02,Hour03,Hour04,Hour05,Hour06,Hour07,Hour08,Hour09,...,Hour14,Hour15,Hour16,Hour17,Hour18,Hour19,Hour20,Hour21,Hour22,Hour23
weather_station,,,,,,,,,,,,,,,,,,,,,
S77,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.4,8.0,0.0,0.0,0.0,0.0,0.0
S109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S90,0.0,0.0,0.0,0.4,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.4,0.0,0.0,0.0,0.0,0.0
S114,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.4,0.4,0.0,0.4,0.0,0.0,0.0,0.0,0.0
S11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
S36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.4,0.0,0.0,0.0,0.0,0.0
S116,0.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.2,0.8,0.0,0.0,0.0,0.0,0.0,0.0
S104,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.8,0.0,0.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
test_df.describe()

,Hour00,Hour01,Hour02,Hour03,Hour04,Hour05,Hour06,Hour07,Hour08,Hour09,...,Hour14,Hour15,Hour16,Hour17,Hour18,Hour19,Hour20,Hour21,Hour22,Hour23
count,68.000000,68.000000,68.0,68.000000,67.0,68.0,67.0,66.0,67.0,67.000000,...,66.000000,67.000000,67.000000,69.000000,69.000000,67.000000,69.000000,67.0,68.0,68.0
mean,0.064824,0.005882,0.0,0.005882,0.0,0.0,0.0,0.0,0.0,0.017821,...,1.517970,1.415104,0.555463,1.080174,1.045188,0.005970,0.005797,0.0,0.0,0.0
std,0.235857,0.048507,0.0,0.048507,0.0,0.0,0.0,0.0,0.0,0.082935,...,6.195999,3.569078,2.195268,2.113878,2.698005,0.048868,0.048154,0.0,0.0,0.0
min,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
25%,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
50%,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
75%,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.400000,0.000000,1.584000,0.400000,0.000000,0.000000,0.0,0.0,0.0
max,1.200000,0.400000,0.0,0.400000,0.0,0.0,0.0,0.0,0.0,0.400000,...,40.800000,17.200000,13.200000,9.600000,15.600000,0.400000,0.400000,0.0,0.0,0.0